<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th>introduction</th>
      <th>member</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= image_tag group.get_group_image(80,80) %></td>
      <td><%= group.name %></td>
      <td><%= group.introduction %></td>
      <td>
        <% members.each do |member| %>
          <%= member.name %><br>
        <% end %>
      </td>
      <td>
        <% if @flag == 1 %>
          <%= link_to 'Join this group', group_add_path(group.id), method: :post, class:"btn btn-success" %>
        <% else %>
          <%= link_to 'Leave this group', group_leave_path(group.id), method: :delete, class:"btn btn-danger" %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
